@media screen and (max-width: 768px) {
    .chitchat-container{
      height: 70vh; 
    }
    
    .cs-main-container{
      width: 95% !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .chitchat-container{
      height: 60vh;
    }
  }

.cs-main-container {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: black;
    border-right-width: 2px;
    border-bottom-width: 4px;
    border-radius: 30px;
    width: 60%;
    min-width: 180px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #B1D989, #FFFFFF);
  }

  .cs-chat-container{
  border-radius: 30px;
  /* border-style: solid;
  border-color: black;
  border-right-width: 2px;
  border-bottom-width: 4px;
  padding: 10px; */
  }

  .cs-message-input__content-editor, .cs-message-input__content-editor-wrapper, .cs-message-input__content-editor-container{
    background-color: #FAE0BD;
    border: none;
    font-family: "Varela Round", sans-serif;
    border-radius: 30px;
    padding: 5px;
  }

.cs-message-input__content-editor-wrapper{
  border-style: solid;
  border-color: black;
  border-right-width: 2px;
  border-bottom-width: 4px;
}

  .cs-message-list {
    padding: 5px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse; 
    border-radius: 30px;
  }

.cs-message-input{
    margin: 15px;
}

.cs-button--attachment{
    display: none !important;
}

.cs-message__content {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));;
    border: solid #B1D989; 
    border-width: 0.3px;
    border-radius: 30px !important;
    margin-top: 15px;
    /* border: solid black;
    border-width: 1px; */
  }

.cs-message__html-content{
    color: #012d41;
    opacity: 0.8;
    font-family: "Varela Round", sans-serif;
}

.chitchat-container {
    height: 80vh; 
    width: 80vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .cs-message {
    animation: bounce 0.3s ease-in-out;
    margin: 5px;
  }