/* .profile-page-container {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
}

.edit-profile-container {
  max-width: 600px;
  margin-top: 150px;
  margin-left: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* font-family: 'Gotu', sans-serif; */
  /* letter-spacing: -1px;
}

.editprofile-inputs,
.editprofile-shortbio {
  width: 100%;
} */

/* input {
  border-radius: 0.25rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px #8C4303;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
} */
/* 
.edit-profile-textarea { */
  /* height: 60px;
  width: 364px;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px #8C4303;
}

.edit-profile-page-btn {
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px #8C4303;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  letter-spacing: -1px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: #A64153;
  box-shadow: 0 2px 4px #8C4E37;
}

.edit-profile-page-btn:hover {
  background-color: #a33348;
  cursor: pointer;
}

.edit-profile-name{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #8C4303;
  margin-bottom: 20px;
  position: absolute;
}

label {
  display: block;
  margin-bottom: 5px;
  letter-spacing: -1px;
  color: #8C4303;
}

.success-edit-profile-msg {
  position: absolute;
  top: 760px;
  left: 260px;
  justify-content: center;
  font-family: 'Gotu', sans-serif;
  letter-spacing: -1px;
} */